<%= form_with(model: change, local: true) do |form| %>
  <div class="field form-group">
    <%= form.label :summary %>
    <%= form.text_field :summary, id: :change_summary, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <div class='row'>
      <div class="col-md">
        <%= form.label :before_description, 'How it used to be' %>
        <%= form.text_area :before_description,
          id: :change_before_description,
          class: 'form-control',
          rows: 10 %>
      </div>
      <div class="col-md">
        <%= form.label :after_description, "What's new" %>
        <%= form.text_area :after_description,
          id: :change_after_description,
          class: 'form-control',
          rows: 10 %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create Change', class: 'btn btn-primary' %>
  </div>
<% end %>
