<h5>
  <%= @change.summary %>
</h5>
<hr id='page-break' />

<p>
  <% if @change.before_description.present? %>
    <strong>Before:</strong>
    <div class='rendered-markdown'>
      <%= render_markdown(@change.before_description) %>
    </div>
  <% end %>
</p>

<p>
  <strong>After:</strong>
  <div class='rendered-markdown'>
    <%= render_markdown(@change.after_description) %>
  </div>
</p>

<%= link_to 'Edit', edit_change_path(@change) %> |
<%= link_to 'Back', root_path %>
