<p>
  <strong>Summary:</strong>
  <%= @change.summary %>
</p>

<p>
  <strong>Before:</strong>
  <%= @change.before_description %>
</p>

<p>
  <strong>After:</strong>
  <%= @change.after_description %>
</p>

<%= link_to 'Edit', edit_change_path(@change) %> |
<%= link_to 'Back', changes_path %>
