<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div class="pagination row" role="navigation" aria-label="pager">
    <div class='one column'>
      <%= first_page_tag %>
    </div>
    <div class='one column'>
      <%= prev_page_tag %>
    </div>
    <div class='eight columns' style='text-align: center;'>
      <% each_page do |page| -%>
        <% if page.display_tag? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>
    </div>
    <% unless current_page.out_of_range? %>
      <div class='one column'>
        <%= next_page_tag %>
      </div>
      <div class='one column'>
        <%= last_page_tag %>
      </div>
    <% end %>
  </div>
<% end -%>