<!DOCTYPE html>
<html>
<head>
  <title>Hunky dory</title>
  <%= stylesheet_link_tag    "hunky_dory/application", media: "all" %>
  <%= javascript_include_tag "hunky_dory/application" %>
  <%= csrf_meta_tags %>
</head>
<body id='hunky_dory'>
  <div class='container'>
    <br />

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type.to_s %>">
        <% if message.is_a? Array %>
          <ul>
            <% message.each do |m| %>
              <li><%= m %></li>
            <% end %>
          </ul>
        <% else %>
          <%= message %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
