<!DOCTYPE html>
<html>
<head>
  <title>Hunky dory</title>
  <%= stylesheet_link_tag    "hunky_dory/application", media: "all" %>
  <%= javascript_include_tag "hunky_dory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <br />

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type.to_s %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
